* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    border: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    min-height: 100vh;
    min-width: 100vw;
}

nav {
    width: 2vw;
    min-height: 100vh;
    overflow: hidden;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-width: 2vw;
    min-height: 100vh;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 10vw;
    /* transform: rotate(-90deg); */
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    width: 25vh;
    padding: 1rem;
    background-color: rgba(253, 255, 160, 0.863);
    color: rgb(161, 161, 161);
    font-weight: bold;
}

.activeMenu {
    background-color: rgb(255, 251, 0);
    color: rgb(68, 68, 68);
}

/* mantem a tela inicial sendo o menu de produtividade */
#dProd {
    display: flex;
}

.screenPadrao {
    display: none;
    min-width: 98vw;
    min-height: 100vh;
}

.screenPadrao #produ,
.screenPadrao iframe {
    position: relative;
    min-width: 49vw;
    min-height: 100vh;
}

.screenPadrao div header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 49vw;
    background-color: red;
}

.screenPadrao div header h1 {
    font-size: 2em;
}

.screenPadrao div #clear {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    width: 10vw;
    transition: .2s;
}

.screenPadrao div #clear:hover {
    background-color: red;
    cursor: pointer;
}

.screenPadrao div #produInput {
    width: 49vw;
    height: 10vh;
    text-align: center;
    border: 0;
    outline: 0;
    font-size: 2em;
    background-color: yellow;
}

.screenPadrao #produCasos {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80vh;
}

.screenPadrao #produCasos p {
    background-color: aqua;
    margin-top: 1px;
    transition: .4s;
}

.screenPadrao #produCasos p:hover {
    background-color: red;
    cursor: pointer;
}

.screenPadrao #inputField {
    position: absolute;
    top: 0;
    width: 98vw;
    height: 10vh;
    z-index: 50;
}