* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

:root {
    --color1: rgb(20, 20, 20);
    --color2: rgb(40, 40, 40);
    --color3: rgb(60, 60, 60);
    --color4: rgb(80, 80, 80);
    --color5: rgb(100, 100, 100);
    --color6: rgb(240, 240, 240);
    --color7: rgb(42, 211, 0);
    --color8: rgb(26, 129, 0);
    --color9: #fff159;
    --color10: #ffea00;
    --color11: #afa100;
    --color12: rgb(255, 52, 52);
    --color13: rgb(255, 0, 0);
    --color14: rgb(180, 0, 0);
    --color15: rgb(103, 58, 183);
    --color16: rgb(76, 19, 175);
    --color17: rgb(51, 8, 124);
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    min-width: 100vw;
    min-height: 100vh;

    background-color: black;
    color: white;

    overflow: hidden;
}

nav {
    position: fixed;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 100vh;
}

nav ul li {
    display: flex;
    width: 0.3vw;
    height: 12vh;
    background-color: var(--color7);
    color: transparent;
    overflow: hidden;
    transition: 0.2s;
}

nav ul #sauronLi {
    background-color: var(--color10);
}

nav ul #outgoingLi {
    background-color: var(--color15);
}

nav ul #arvoreLi {
    background-color: var(--color13);
}

nav ul #nav8 {
    background-color: var(--color15);
    border-color: var(--color16);
}

nav ul #arvore {
    background-color: var(--color13);
    border-color: var(--color13);
}

nav ul #nav10 {
    background-color: var(--color10);
    color: var(--color3);
    border-color: var(--color11);
}

nav:hover ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 7vw;
    min-height: 12vh;
    background-color: var(--color1);
    color: var(--color6);
    border-right: 5px solid;
    border-color: var(--color7);
}

nav:hover ul #outgoingLi {
    background-color: var(--color15);
    border-color: var(--color16);
}

nav:hover ul #arvoreLi {
    border-color: var(--color14);
}

nav:hover ul #sauronLi {
    background-color: var(--color10);
    color: var(--color3);
    border-color: var(--color11);
}

nav ul li a {
    display: none;
}

nav ul li:hover {
    width: 23vw;
    background-color: var(--color1);
}

nav ul li:hover span {
    display: none;
}

nav ul li:hover a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 23vw;
    height: 12vh;
    background-color: var(--color1);
    color: var(--color6);
    border-right: 5px solid;
    border-color: var(--color7);
}

.frameFull {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

#frame8 {
    position: relative;
    min-width: 100vw;
    z-index: 900;
}

#frame8 #produ {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-width: 50vw;
    min-height: 100vh;
    background-color: var(--color17);
    overflow: hidden;
}

#frame8 #produ header,
#frame8 #produ header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}

#frame8 #produ #produInput {
    text-align: center;
    font-size: 20px;
    width: 50vw;
    min-height: 10vh;
}

#frame8 #produ #clear {
    position: absolute;
    right: 0;
    top: 0;
    width: 10vw;
    min-height: 10vh;
    transition: 0.2s;
}

#frame8 #produ #clear:hover {
    background-color: var(--color2);
    color: white;
    cursor: pointer;
}

#frame8 #produ #produCasos {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    min-height: 80vh;
    max-height: 80vh;
    background-color: var(--color3);
    overflow-y: hidden;
    overflow-x: scroll;
}

#frame8 #produ #produCasos p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: var(--color2);
    text-align: center;
    width: 15vw;
    min-height: 3.2vh;
}

#frame8 iframe {
    min-width: 55.5vw;
    min-height: 110.9vh;
    transform: scale(0.9);
    position: absolute;
    top: -5.5vh;
    right: -2.7vw;
}

#frame8 #frame8extra {
    width: 33vw;
    min-height: 100vh;
}

#frame8 div {
    width: 50vw;
    min-height: 100vh;
}

/* Arvore de transferencia */
#frameArvore {
    position: absolute;
    left: 0vw;
    top: 0vh;
    transform: scale(0.9);
    min-width: 110vw;
    min-height: 110vw;
}

#frameArvoreDiv {
    min-width: 100vw;
    min-height: 100vh;
}

#frameArvore {
    min-width: 115vw;
    min-height: 115vh;
    transform: scale(0.9);
}

/* Sauron */
#frame10 {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}

#frame10 input {
    position: absolute;
    top: 0vh;
    text-align: center;
    font-size: 1em;
    min-width: 100vw;
    min-height: 10vh;
    z-index: 50;
}

#frame10 iframe {
    position: absolute;
    top: -12.5vh;
    min-width: 125vw;
    min-height: 125vh;
    transform: scale(0.8);
    z-index: 49;
}

/* Fim Sauron */